/**
 * @description    Styling for the style guide
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-14 17:53
 *
 *
 *     @example
 *
 *
 *
 *        @type    development
 *       @notes    Please use the .sg_ namespace for any styling to target the style guide only.
 */


/**
 * @section        sg_snippet
 */
.sg_snippet {
	border: 1px solid lighten($color-border, 40%);
	@include border-radius(0.25em);
}
.sg_nav {
	padding: 1em 0;
	ul {
		@include container;
		@include at-breakpoint($tablet) {
			@include container;
		}
		@include at-breakpoint($computer) {
			@include container;
			margin: 0 0 - $grid-padding;
			// padding: 0 $grid-padding;
		}
	}
	li {
		float: left;
	}
	a {
		border-right: 1px solid lighten($color-border, 40%);
		padding: 1em;
	}
}
.sg_section  {
	border-top: 1px solid lighten($color-border, 40%);
	padding: 1em;
	position: relative;
}
.sg_sectionHeading {
	background: lighten($color-border, 40%);
	@include border-bottom-right-radius(0.25em);
	@include box-shadow(rgba($color-border, 0.2) 0.1em 0.1em 0.5em);
	color: lighten($color-black, 50%);
	display: inline;
	font-size: 80%;
	font-weight: bold;
	left: 0;
	margin: 0;
	padding: 0.25em 0.5em;
	position: absolute;
	@include text-shadow(rgba($color-white, 0.6) 1px 1px 0);
	top: 0;
	width: auto;
}
