/**
 * @description    banner module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-20 10:02
 *
 *
 *     @example
 *                 <div class="banner"></div>
 *
 *
 *        @type    module
 *       @notes
 */


/**
 * @section        .banner
 */
.banner {
    text-align: center;
    a {
        background: $color-brand-primary;
        color: $color-black;
        @include font-size(2.0);
        padding: 3px 0.5em;
        text-decoration: none;
    }
    span {
        color: $color-white;
    }
}
