/**
 * @description    highlight module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-20 20:44
 *
 *
 *     @example
 *                 <p>Some text <strong class="highlight">highlighted words</strong></p>
 *
 *
 *        @type    module
 *       @notes    should be used alongside a semantically meaningful highlight element eg; strong, em
 */


/**
 * @section        .highlight
 */
.highlight {
    color: $color-brand-primary;
    @include font-size(1.6);
    a &,
    a:visited & {
        color: $color-brand-primary;
    }
    span {
        color: $color-black;
    }
}
