/**
 * @description    specialFeatures module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-20 11:38
 *
 *
 *     @example
 *                 <div class="specialFeatures"></div>
 *
 *
 *        @type    module
 *       @notes
 */


/**
 * @section        .specialFeatures
 */
.specialFeatures {
    border-bottom: dashed 2px $color-brand-secondary;
    @include font-size(1.6);
    h3 {
        border-bottom: dashed 2px $color-brand-secondary;
        padding-bottom: 0.5em;
    }
}
