//Colour palette

// Define colours
$color-white:				#fff;
$color-black:				#000;

// Hex
$color-brand-primary:		#ff6600;	// Orange
$color-brand-secondary:		#990000;	// dark orange

$color-brand-complementary1:	#ffcc99;	// gold

$color-copy:				$color-black;
$color-page-bg:				$color-white;

$color-border:				$color-brand-complementary1;
$color-mark:				$color-brand-complementary1;
$color-selection:			$color-brand-complementary1;
$color-almost-black: 		#333;
$color-brand:				$color-brand-primary;
