// http://www.gridlover.net/
// Body font size: 16px/1rem/1em;
// Body line height: 24px/1.5rem/1.5em;
// Scale factor:1.618;

html {
	@include default-font-stack;
	font-size: 62.5%;
}
body {
	// font-size: 18px;
	@include font-size(1.8);
	line-height: 1.6;
}
h1 {
	// font-size: 55px;
	@include font-size(5.5);
	@include logo-font-stack;
	// line-height: 60px;
	margin-top: 24px;
	margin-bottom: 12px;
}
h2,
h3,
h4,
h5 {
	@include headline-font-stack;
	font-weight: normal;
}
h2 {
	// font-size: 42px;
	@include font-size(4.2);
	// line-height: 48px;
	// margin-top: 48px;
	// margin-bottom: 24px;
}
h3 {
	// font-size: 26px;
	@include font-size(2.6);
	// line-height: 48px;
	// margin-top: 24px;
	// margin-bottom: 0;
}
h4 {
	// font-size: 20px;
	@include font-size(2.0);
	font-weight: bold;
}
h5 {
	// font-size: 18px;
	@include font-size(1.8);
}
h6 {
	// font-size: 14px;
	@include font-size(1.4);
}
.formField,
p,
ul {
	margin-top: 0;
	margin-bottom: 1em;
}
small {
	// font-size: 10px;
	@include font-size(1.0);
}
button {
	font-weight: bold;
}
