// /*
//  * Image replacement
//  */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	.lt-ie7 & {
		// /* IE 6/7 fallback */
		*text-indent: -9999px;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		width: 0;
	}
}
