.navPrimary {
	@include at-breakpoint($tablet) {
		@include span-columns(4 omega,12);
		margin-top: 50px;
	}
	@include at-breakpoint($computer) {
		@include span-columns(4 omega,12);
		margin-top: 50px;
	}
	li {
		margin-right: 1em;
	}
	a {
		display: block;
		line-height: 60px;
		padding: 0 1em;
		text-decoration: none;
		&:hover,
		.current & {

		}
	}
}
