.footerCopy {
	margin: 3em 0 5em 0;
	@include at-breakpoint($tablet) {
		@include container;
		margin: 0 0 - $grid-padding;
	}
	@include at-breakpoint($computer) {
		@include container;
		margin: 0 0 - $grid-padding;
		margin-bottom: 5em;
	}
}
