.social {
	@include span-columns(4,5);
	@include at-breakpoint($tablet) {
		@include span-columns(8 omega,12);
	}
	ul,
	li {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
	}
	li {
		margin-right: 1em;
	}
}
